.css-10d1a0h-MuiButtonBase-root{
    display: block;
    width: 100%;
}
.MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 TransactionList_transaction-card__cxBw0 css-ee20y-MuiPaper-root{
    display: block;
    width:100%;
}