.account {
    display: flex;
    flex-direction: row;
    margin-block: 18px;
    width: 100%;
}

.number {
    width: 20%;
    text-align: left;
    margin-left: 30px;
}

.name {
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.balance {
    width: 20%;
    text-align: right;

}

.user-id {
    width: 20%;

}

.currency {
    width: 20%;

}
